.navbar-brand {
    font-size: 200% !important;
}

.titulo{
    color: red;
}

.titulo {
    font-size: 200%;
}

.linha {
    border-bottom: 3px solid;
    border-color: red;
}

.bi {
    color: red;
    width: 30px;
    height: 30px;
}

svg:hover {
    transform: rotate(360deg);
    transition-duration: 2s;
}

.icon{
    height:6rem;
    width: 6rem;
}

.card_sty{
    width: 25rem;
    margin: 20px;
}