*{
  cursor:default;
}

.navbar-brand {
  font-size: 200% !important;
}
.Barra_navegacao {
  height: 6rem;
}

.Barra_navegacao span:hover {
  border-bottom: solid 2px rgb(251, 72, 72);
  cursor: pointer;

}
.card_sty:hover{
  border: 0.5px solid rgb(251, 72, 72);
}

.Barra_navegacao span:hover,
.card_sty:hover {
  transition-duration: 1s;

}

.titulo p span,
.titulo_hab,
.Barra_navegacao span:hover,
.coder span {
  color: rgb(251, 72, 72);
}

.cite_scroll {
  font-size: 18px;
}

.linha {
  border-bottom: 3px solid;
  border-color: red;
}

.bi:hover {
  transform: rotate(360deg);
  transition-duration: 1.5s;
  cursor: pointer;

}

.bi {
  color: red;
  width: 30px;
  height: 30px;
}




.teste_bg:hover {
  border :  0.5px solid red;
  border-radius: 20px;
  transition-duration: 0.8s;
  color: red;
  transform:scale(1.2);
  cursor: pointer;
}

.icon {
  height: 6rem;
  width: 6rem;
}

.card_sty {
  width: 25rem;
  margin: 20px;
}
.box_inicio {
  min-height: 50rem;
}

.teste_bg{
  background-color: whitesmoke;
  margin: 10px;
  border-radius: 10px;
  transition: all .5s;
}

.bg_projetos{
  background-color: whitesmoke;
}