@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");

* {
  font-family: "Archivo", sans-serif;
  word-spacing: 2px;
  word-wrap: inherit;
}

.Barra_navegacao span {
  font-weight: 300;
}

.titulo_inicio p {
  font-weight: 600;
  font-size: 2.4rem;
}
.titulo_inicio span {
  color: var(--primary-color);
}
.titulo p span {
  font-weight: 200;
}

.titulo {
  font-size: 2.5rem;
  font-Weight: 600;
}

.coder {
  font-weight: 900;
  font-size: 4rem;
}

.Barra_navegacao span {
  font-size: 20px;
}

