* {
  cursor: default;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar-brand {
  font-size: 200% !important;
}
.Barra_navegacao {
  top: 0;
  position: fixed;
  height: 6rem;
  width: 100%;
  background-color: var(--tertiary-color);
}

.active {
  color: var(--font-color);
  transition-duration: 0.7s;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.titulo_hab,
.nav-link:hover,
.active:hover {
  color: var(--primary-color);
}

.titulo p span,
.coder span {
  color: var(--primary-color);
}

.cite_scroll {
  font-size: 18px;
}

.linha {
  border-bottom: 2px solid;
  border-color: var(--primary-color);
}

.bi:hover {
  transform: rotate(360deg);
  transition-duration: 1.5s;
  cursor: pointer;
}

.bi {
  color: var(--primary-color);
  width: 30px;
  height: 30px;
}

.card_sty:hover {
  transform: scale(1.1);
}

.card_sty:hover,
.hab:hover {
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  transition-duration: 0.8s;
}

.hab:hover {
  box-shadow: 0 0 10px 1px var(--font-color);
  transform: scale(1.2);
  cursor: pointer;
}

.card_sty{
  width: 25rem;
  height: 25rem;
  background-color: var(--secondary-color);
  border: solid 2px var(--secondary-color);
}

.card_sty , .card_serv{
 

  padding: 25px;
  margin: 20px;
  border-radius: 10px;
  transition: all 0.8s;
  position: inherit;
  flex-grow: 1;
}

/*Estilo Cards section Serviços*/

.card_serv {
  width: 20rem ;
  height: 18rem ;
  background-color: var(--tertiary-color);
  border: solid 2px var(--tertiary-color);

}

.card_serv:hover {
  border: solid 2px var(--primary-color);
  animation-duration: 1ms;
  transition-duration: 0.8s;
}

.card_serv img {
  padding-bottom: 20px;
}


.card_sty p,
.card_serv p {
  text-align: justify;
  font-weight: 400;
  font-size: 18px;
}

.card_ti {
  font-size: 25px;
  color: var(--primary-color);
}

#inicio {
  height: 63rem;
  background-color: var(--tertiary-color);
}
.hab,
.card_sty,
.active .btn_projeto {
  transition: all 0.5s;
}

.bg_projetos {
  height: 50%;
}

#servicos,
.bg_projetos {
  background-color: var(--secondary-color);
  padding-bottom: 5%;
  width: 100% !important;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 10%;
  background-color: var(--tertiary-color);
  position: inherit;
}
.footer a {
  color: black;
}
.No_bg .oak span {
  font-weight: 900;
  font-size: 3rem;
}

.oak span {
  color: var(--primary-color);
}

.btn_projeto {
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}

.btn_projeto:hover {
  background-color: var(--primary-color);
  border-color: var(--tertiary-color);
  color: var(--tertiary-color);
  border: solid 1px var(--primary-color);
  transition-duration: 0.8s;
  animation-duration: 1ms;
  border-radius: 15px;
}
.btn_projeto {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border-radius: 30px;
  border-bottom: solid 0.5px var(--primary-color);
  width: 100%;
}

.icon_habilidade svg {
  color: var(--tertiary-color);
  height: 7rem;
  width: 7rem;
}

.hab {
  border-radius: 10px;
  background-color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 6rem;
  margin: 10px;
}
.habilidade_text {
  min-height: 100px;
  width: 100%;
}

.habilidade_group {
  width: 100%;
}

#servicos,
.height_general {
  height: 80%;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 100% !important;
}

#sobre_mim p {
  text-align: justify;
  font-size: 1.3rem;
}


/*
nav-bar mobile
*/

@media screen and (min-width : 991px){
  .menu {
    display:none;
  }

}

@media screen and (max-width : 990px){
  .links_navbar , .social{
   display: none;
  
  }
  .menu button{
    background-color: white;
    border: 1px solid var(--primary-color);
  }
}

