* {
  cursor: default;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");

* {
  font-family: "Archivo", sans-serif;
  word-spacing: 2px;
  word-wrap: inherit;
}

.Barra_navegacao span {
  font-weight: 300;
}

.titulo_inicio p {
  font-weight: 600;
  font-size: 2.4rem;
}
.titulo_inicio span {
  color: var(--primary-color);
}
.titulo p span {
  font-weight: 200;
}

.titulo {
  font-size: 2.5rem;
  font-Weight: 600;
}

.coder {
  font-weight: 900;
  font-size: 4rem;
}

.Barra_navegacao span {
  font-size: 20px;
}

.navbar-brand {
  font-size: 200% !important;
}
.Barra_navegacao {
  top: 0;
  position: fixed;
  height: 6rem;
  width: 100%;
  background-color: var(--tertiary-color);
}

.active {
  color: var(--font-color);
  transition-duration: 0.7s;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.titulo,
.nav-link:hover,
.active:hover {
  color: var(--primary-color);
}

.titulo p span,
.coder span {
  color: var(--primary-color);
}

.cite_scroll {
  font-size: 18px;
}

.linha {
  border-bottom: 2px solid;
  border-color: var(--primary-color);
}

.bi:hover {
  transform: rotate(360deg);
  transition-duration: 1.5s;
  cursor: pointer;
}

.bi {
  color: var(--primary-color);
  width: 30px;
  height: 30px;
}

.card_sty:hover {
  transform: scale(1.1);
}

.card_sty:hover,
.hab:hover {
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  transition-duration: 0.8s;
}

.hab:hover {
  box-shadow: 0 0 10px 1px var(--font-color);
  transform: scale(1.2);
  cursor: pointer;
}

.card_sty {
  width: 25rem;
  height: 25rem;
  background-color: var(--secondary-color);
  border: solid 2px var(--secondary-color);
}

.card_sty,
.card_serv {
  padding: 25px;
  margin: 20px;
  border-radius: 10px;
  transition: all 0.8s;
  position: inherit;
  flex-grow: 1;
}

/*Estilo Cards section Serviços*/

.card_serv {
  width: 20rem;
  height: 18rem;
  background-color: var(--tertiary-color);
  border: solid 2px var(--tertiary-color);
}

.card_serv:hover {
  border: solid 2px var(--primary-color);
  animation-duration: 1ms;
  transition-duration: 0.8s;
}

.card_serv img {
  padding-bottom: 20px;
}

.card_sty p,
.card_serv p {
  text-align: justify;
  font-weight: 400;
  font-size: 18px;
}

.card_ti {
  font-size: 25px;
  color: var(--primary-color);
}

#inicio {
  height: 63rem;
  background-color: var(--tertiary-color);
}
.hab,
.card_sty,
.active .btn_projeto {
  transition: all 0.5s;
}

.bg_projetos {
  height: 50%;
}

#servicos,
.bg_projetos {
  background-color: var(--secondary-color);
  padding-bottom: 5%;
  width: 100%;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 10%;
  background-color: var(--tertiary-color);
  position: inherit;
}
.footer a {
  color: black;
}
.No_bg .logo span {
  font-weight: 900;
  font-size: 3rem;
}

.logo span {
  color: var(--primary-color);
}

.btn_projeto {
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}

.btn_projeto:hover {
  background-color: var(--primary-color);
  border-color: var(--tertiary-color);
  color: var(--tertiary-color);
  border: solid 1px var(--primary-color);
  transition-duration: 0.8s;
  animation-duration: 1ms;
  border-radius: 15px;
}
.btn_projeto {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border-radius: 30px;
  border-bottom: solid 0.5px var(--primary-color);
  width: 100%;
}

.icon_habilidade svg {
  color: var(--tertiary-color);
  height: 7rem;
  width: 7rem;
}

.hab {
  border-radius: 10px;
  background-color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  height: 7rem;
  width: 6rem;
  margin: 10px;
}
.habilidade_text {
  min-height: 100px;
  width: 100%;
}

.habilidade_group {
  width: 100%;
}

#servicos,
.height_general {
  height: 80%;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 100%;
}

#sobre_mim p {
  text-align: justify;
  font-size: 1.3rem;
}

#sobre_mim > img {
  width: 25rem;
  height: 25rem;
}

.links_navbar {
  display: flex;
  list-style: none;
}
.link_inicio,
.link_sobre_mim,
.link_projetos,
.link_servicos,
.link_habilidades {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  color: #848484;
} 

.link_inicio:hover,
.link_sobre_mim:hover,
.link_projetos:hover,
.link_servicos:hover,
.link_habilidades:hover {
  color: black;
}

.mobile_menu {
  background-color: white;
  display: none;
  transition: all 0.8s;
}

.mobile_menu:hover {
  border: 1.5px solid var(--primary-color) !important;
  color: white;
  transition-duration: 0.8s;
}

.profile_pict {
  margin: auto;
  display: block !important;
  width: 250px !important;
  height: 250px !important;
  background-repeat: no-repeat;
  background-image: url("../components/icons/img.png");
}

.align-box {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
nav-bar mobile
*/

@media screen and (max-width: 990px) {
  
  .logo {
    display: block;
    position: absolute;
    top: 15px;
    text-align: center;
    outline: none;
    left: -50%;
    right: -50%;
  }
  .links_navbar,
  .social {
    display: none;
  }

  .links_navbar_mobile {
    position: absolute !important;
    display: block;
    background-color: var(--primary-color);
    left: 0;
    top: 75px;
    transition: all 0.5 ease-out;
    width: 100%;
  }
  .link_inicio,
  .link_sobre_mim,
  .link_projetos,
  .link_servicos,
  .link_habilidades {
    color: white;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
  }

  .align-box {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mobile_menu {
    display: block;
    position: absolute;
    font-size: 30px;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
    transition: all 0.8s;
  }

  .titulo_inicio p {
    word-spacing: 5px;
    font-size: 1.7rem !important;
  }

  #sobre_mim > img {
    width: 15rem;
    height: 15rem;
  }

  #sobre_mim p {
    padding: 20px;
  }

  .card_sty {
    margin: 20px;
    margin-top: 30px;
    width: 180px !important;
    height: 25rem;
    padding: 25px;
  }
  .card_sty:hover {
    transform: none;
    height: 25rem;
  }

  .hab {
    flex-grow: 1;
  }
}
