:root{
    --primary-color: #111;
    --tertiary-color: #2b2b2b;
    
    --secondary-color : #222;
    --bg-light: #fff;
    
    --font-light : #eee;
    --font-dark : #090909;
    





    --border-light : #a2a2a2;
}
